@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% {
    opacity: 0.3;
    transform: translateY(0px) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.2);
  }
}

.animate-blink {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
